.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    min-height: 350px;
    margin: 0 auto;
    padding: 25px 0 50px 0;
}

h2 {
    font-size: 25px;
    text-align: center;
}


/* .assignment1 .rectangle_black { */

.rectangle_black {
    width: 100px;
    height: 100px;
    background-color: #000;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.assignment1 {
    min-height: 350px;
    background-color: rgb(235, 235, 231);
    /* background-color: rgb(218, 248, 204); */
}

.assignment1 .button_wrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}


/* .assignment1 .btn { */

.btn {
    width: 100px;
    height: 30px;
    background-color: rgb(99, 158, 247);
    cursor: pointer;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
}

.rectangle_wrapper {
    display: flex;
}