* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-height: 450px;
    margin: 0 auto;
    padding: 25px 0 50px 0;
}

h2 {
    font-size: 25px;
    text-align: center;
}

.rectangle {
    width: 100px;
    height: 100px;
    background-color: #000;
    text-align: center;
    font-size: 13px;
    padding: 5px;
}

.hidden {
    visibility: hidden;
}

.button_wrapper {
    width: 70%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 100px;
    height: 30px;
    background-color: rgb(99, 158, 247);
    /* background-color: rgb(243, 198, 198); */
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    border-radius: 4px;
}

.rectangle_wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.img_wrapper {
    width: 90%;
    min-height: 200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.btn_big {
    height: 40px;
}

.btn_go_top {
    background-color: rgb(253, 48, 48);
}

img {
    margin-top: 10px;
}

.info_box {
    padding: 20px 10px 20px 10px;
    width: 200px;
    height: 250px;
    position: fixed;
    right: 5px;
    top: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: aliceblue;
    font-size: 18px;
}

.text_area {
    width: 80%;
    min-height: 50px;
    border-radius: 4px;
    border: 2px solid black;
    padding: 10px;
}

.block {
    height: 200px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_small {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: rgb(160, 60, 60);
    color: white;
    font-size: 24px;
    text-align: center;
}